.main{
    display: flex;
    gap: 25px;
}
.main > div{
    margin-top: 15px;
    border: 2px solid black;
}
.numbers{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.numbers > input{
    width: 250px;
}
.numbers > button{
    width: 150px;
    margin: 10px;
}
.numbers2{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.numbers2 > input{
    width: 250px;
}
.numbers2 > button{
    width: 150px;
    margin: 10px;
}
#resultadomin{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
#resultadomax{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
.fracciones {
    display:block;
   
}
.fracciones > button{
    width: 150px;
    height: 22px;
    margin: 10px;
}
.datosFraccion > input{
    width: 250px;
}
.fraccion :not(.di){
    display: flex;
    width: 200px;
}
.fraccionMain{
    display: block;
}
.fraccionMain > p{
    margin: 5px;
}
.fraccion > button{
    text-align: center;
    height: 22px;
    margin: 10px;
}